*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Lato', sans-serif;
}
a, a:hover{
	text-decoration: none;
}
/*css code here*/
.wrapper{
	width: 1140px;
	margin: 0px auto; 
}
.header1{
	width: 100%;
	float: left;
	background: #5e5ecc;
	margin-top: 10px;
	height: 60px;
	border-radius: 30px;
}

.header1 h4{
       font-size: 16px;
    margin: 17px;
    float: left;
    text-transform: capitalize;
    color: white;
    font-weight: 500;
    display: inline-block;
}
.icon{
	width: 10%;
    float: right;
    padding: 15px 40px;;
}
.icon ul{
    text-align: right;
    padding: 0px;
}
.icon ul li{
	list-style: none;
	display: inline-block;
}
.icon ul li a{
	display: block;
	width: 30px;
	height: 30px;
	color: white;
}

.header{
	width: 100%;
	float: left;
	background: white;
}
.img img{
	    float: left;
    width: 20%;
    padding: 57px 0px
}

.menu{
	width: 75%;
	float: left;
	padding: 10px 0px;
}
.menu ul{
	display: block;
	text-align: right;
	padding: 25px;
}
.menu ul li{
	list-style: none;
	display: inline-block;
}
.menu ul li a{
    font-size: 18px;
    font-weight: 600;
    color: #5f0505;
    margin: 64px 20px;
    display: block;
    text-transform: uppercase;
}
.banner{
	width: 100%;
	float: left;
	background: url("../images/12345.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 400px;
	text-align: center;
}
.banner h1{
    text-align: center;
    font-size: 46px;
    margin-top: 100px;
    color: #17469e;
}
.banner p{
	text-align: center;
    font-size: 25px;
    margin-top: 40px;
    color: #ed1c24;
}
.banner h5{
	text-align: center;
    font-size: 25px;
    margin-top: 26px;
    color: #17469e;
    text-transform: uppercase;
    margin-bottom: 30px;
} 
.btn{
	display: inline-block;
	padding: 10px 35px;
	background: #08c;
	color: #000;
	border: 1px solid #08c;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	transition: 1s;
} 
.btn:hover{
	border: 1px solid #08c;
	background: red;
	
}
.btn a{
	color: goldenrod;
}
.box{
	width: 100%;
	float: left;
	background: blue;
	height: 600px;
}
.box1{
	width: 40%;
	float: left;
	background: white;
	height: 600px;	
}
.box1 img{
	width: 380px;
	height: 380px;
	padding: 110px 38px;
	
}
.box2{
	width: 60%;
	float: left;
	background: white;
	height: 600px;
}
.box2 h5{
	font-size: 20px;
    margin-top: 70px;
    margin-left: 60px;
    color: #17469e;
    text-transform: uppercase;
}
.box2 h1{
	font-size: 30px;
    margin-top: 20px;
    margin-left: 60px;
    color: black;
    text-transform: capitalize;
    letter-spacing: 4px;
    word-spacing: 12px;
    line-height: 40px;
}
.box2 p{
	font-size: 13px;
	font-weight: 500;
    margin-top: 10px;
    margin-left: 60px;
    color: black;
}
.dept{
	float: left;
	width: 100%;
	height: 100px;
	background: white;
}
.dept h4{
	font-size: 15px;
	color: blue;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 500;
    word-spacing: 6px;
    text-transform: uppercase;
}
.dept h2{
	font-size: 40px;
	color: brown;
    margin-top: 10px;
    margin-left: 50px;
    font-weight: 700;
    word-spacing: 6px;
    text-transform: capitalize;
}
.group{
	width: 100%;
	float: left;
	background: white;
	height: 350px;
}
.group1{
	width: 33.33%;
	float: left;
	background: white;
	height: 350px;
}
.group1 img{
    width: 150px;
    height: 150px;
    padding: 50px 115px;
     background: #efe93e;
    border-radius: 40px;
    transition: 2s;
}
.group1 img:hover{
	background: red;
}
.group1 h3{
	font-size: 26px;
	font-weight: 700;
   text-align: center;
    color: #980e0e;
    text-transform: uppercase;


}
.group2{
	width: 33.33%;
	float: left;
	background: white;
	height: 350px;
}
.group2 img{
	 width: 150px;
    height: 150px;
    padding: 50px 115px;
    background: #f7f13b;
    border-radius: 40px;
    transition: 2s;
}
.group2 img:hover{
	background: blue;
}
.group2 h3{
	font-size: 26px;
	font-weight: 700;
   text-align: center;
    color: #980e0e;
    text-transform: uppercase;
}    
.group3{
	width: 33.33%;
	float: left;
	background: white;
	height: 350px;
}
.group3 img{
	 width: 150px;
    height: 150px;
    padding: 50px 115px;
     background: #efe93e;
    border-radius: 40px;
    transition: 2s;
} 
.group3 img:hover{
	background: green;
} 
.group3 h3{
	font-size: 26px;
	font-weight: 700;
   text-align: center;
    color: #980e0e;
    text-transform: uppercase;
}
.covertop{
	width: 100%;
	float: left;
	background: white;
	margin-top: 10px;
	margin-bottom: 30px;
	height: 60px;
	border-radius: 30px;
}
.covertop h2{
	font-size: 40px;
	color: #63b5e4;
    margin-top: 20px;
    margin-left: 50px;
    font-weight: 500;
    word-spacing: 6px;
    text-transform: capitalize;
    text-align: center;
}
.cover{
	width: 100%;
	float: left;
	background: blue;
	height: 600px;
} 
.cover1{
	width: 50%;
	float: left;
	background: white;
	height: 600px;	
}
.cover1 img{
    width: 510px;
    height: 510px;
    margin: 0px;
}
.cover2{
	width: 50%;
	float: left;
	background: white;
	height: 600px;
} 
.cover2 p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 60px;
    color: black;
    word-spacing: 6px;
    line-height: 24px;
} 
.btn1{
	display: inline-block;
	padding: 10px 35px;
	background: #08c;
	color: #fff;
	border: 1px solid #08c;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	transition: 1s;
	margin-top: 30px;
	margin-right: 50px;
	float: right;
}	
.btn1:hover{
	border: 1px solid #08c;
	background: red;
	
} 
.btn1 a{
	color: #fff;
	letter-spacing: 3px;
}	
.footer{
	width: 100%;
	float: left;
	background:#7373f112;
	height: 200px;
	border-radius: 40px;
	margin-bottom: 20px;

}
.footer h2{
    font-size: 20px;
    font-weight: 500;
    color: #3a2d2d;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 20px;
   text-align: center;
}
.footer1{
	width: 25%;
	float: left;
	height: 200px;
	text-align: center;
	color: #774c4cc9;
}
.footer2{
	width: 25%;
	float: left;
	height: 200px;
}
.footer2 img{
    width: 200px;
    height: 97px;
    margin-top: 30px;;

}